:root{
    --main-color: #5a66bf;
    --main-hover: #7381e9;
    --selected-color: #17e228;
    --buttons-color: #427542;
    --text-color: #6a756b;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* settings box */
.settings{
    position: fixed;
    top:0;
    left: -300px;

    width: 300px;
    height: 100vh;
    background: rgba(70, 70, 70, 0.4);
    z-index: 10;
    transition: .5s;
}
.settings .toggle-settings{
        position: absolute;
        background: #fff;
        right: -35px;
        top: 50px;
        cursor: pointer;
        padding: .5em .25em .25em 1em;
}

.settings .settings-content h2{
    text-align: center;
    background: rgba(71, 66, 66..6);
    color: var(--main-color);
    padding: 10px;
    border: solid 1px;
}

.settings .option-box{
    border:solid 1px;
    border-radius: 5px;
    margin: 1em;    
    text-align: center;
    background-color: #c7c7c7;
}
.settings .option-box h4{
    margin: 1em;
    font-weight: bold;
    border-bottom: solid 1px;
    color: var(--main-color);
}
.btn{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--main-color);
}
.settings .option-box .buttons,
.settings .option-box .colors-list{
    margin: 1em ;
    list-style: none;
    border:solid 1px;
    padding:10px 10px 7px 6px
}
.settings .option-box .colors-list li{
    width: 40px;
    height: 40px;
    /* background-color:#333; */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.3;
    transition: .5s;
}

.settings .option-box .btn-danger{
    background-color:#cd1818;
    color: #fff;
    font-weight: bold;
}
.settings .option-box .btn-full{
    width:100%
}
.settings .option-box .option-button{
    width: 100px;
}
.settings .option-box .buttons span{
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 10px;

    /* width: 100px; */
    color: #fff;
    /* font-size: 12px; */
    opacity: .5;
}
.open{left: 0px;}
.close{left: -300px;}

.settings-content{}

.settings .option-box .colors-list li:hover, 
.settings .option-box .option-button:hover {
    opacity: 1;
}
.settings .option-box .buttons span.active{
    opacity: 1;
}
.settings .option-box .colors-list .active{
    opacity: 1;
    border:solid #b3acac;
}
.settings .option-box #reset-options{
    padding: 10px;
}
.settings .option-box #reset-options span{
    margin: 10px;
    padding: 10px;

}
/* settings box */
/*********************************************************************************/
/*nav bullets*/
.nav-bullets{
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 1000;

    border-left: solid var(--main-color);
    border-radius: 5px;
    padding: 8px;
}
.nav-bullets .bullet{
    display: flex;
    opacity: .25;
}
.nav-bullets .bullet.active,
.nav-bullets .bullet:hover{
    opacity: 1;
}
.nav-bullets .bullet .blt{
    border: solid 3px var(--main-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0 0 0 -20px;
}

.nav-bullets .bullet .tooltip{
    margin: 10px;
    padding: 5px 10px;
    background-color: var(--main-color);
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
}
@media(max-width:767px){
    .nav-bullets .bullet {
        /* display: grid; */
        /* grid-template-rows: auto; */        
        display: inline-flex;
        opacity: .25;
        top:0px;
    }
    .nav-bullets .bullet .blt {
        /* border: solid 3px var(--main-color);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        align-self: center; */
        display: none;
    }

    .nav-bullets .bullet .tooltip {
        /* margin: 10px;
        padding: 5px 10px;
        background-color: var(--main-color);
        border-radius: 5px;
        text-transform: capitalize;
        font-weight: bold;
        color: #fff;
        width: 72px;
        cursor: pointer; */
    }
}

/* 
/* .nav-bullets .bullet:hover, */
.nav-bullets .bullet .tooltip:hover,
.nav-bullets .bullet  .blt:hover{
    opacity: 1;
} */
/**************************************************/
/*********************************************************/
.section .active{

}

section, .landing-page{
    min-height: 200vh;
}
/**********************  Start Landing Page  *********************************/
.landing-page{
    background-image: url(../img/bg/img02.jpg);
    background-size: cover;
    position: relative;
    transition: .5s;
}
.landing-page .overlay{
    position: absolute;
    background:rgb(0 0 0 / 58%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
    /* width: 1170px; */
    padding: 15px;
    margin: auto;
    /* border: solid; */
}
.header-area{
    position: relative;
    z-index: 2;
    color: #fff;
    /* display: flex; */
}
.header-area .logo{
    float: left;
    width: 200px;
    height: 180px;
    padding: 15px;
    background:url(../img/logo.png)
    /* border: solid; */
}
.header-area .navbar{
    /* flex: 1; */
    width: 60%;
    float: right;
    text-align: right;
}
.header-area .navbar .toggle-menu{
    background:none;
    border: none;
    cursor: pointer;
    position: relative;

    display: none;
}

.header-area .navbar .toggle-menu:focus, 
.header-area .navbar .toggle-menu span:focus{
    outline: none;
}
.header-area .navbar .toggle-menu span{
    display: block;
    background: #fff;
    height: 4px;
    width: 30px;
    margin: 4px;
}
.header-area .links{
    /* border: solid; */
    list-style: none;
}

.header-area .links li{
    text-transform: capitalize;
    display: inline;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
.header-area .links li:hover{
    border-bottom: solid 1px;
}
.header-area .links li a{
    color: #fff;
}
.header-area .links li a:hover, 
.header-area .links li a.active{
    color: var(--main-color);
}

.intro-background{
    background:rgba(0,0,0,.4);
    padding:10px;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.intro-text{
    text-align: center;
    color: #fff;
    z-index: 0;
}
.intro-text h1 span{
    color:var(--main-color)
}
@media (max-width:991px){

    .header-area.navbar .links{
        display:none;
    }
    .header-area .navbar .toggle-menu{
        display: inline-block;
    }    

}
    /* .navbar .links.open{
        display: block;
        background-color: #fff;
        width: 35%;
        position: absolute;
        top: 20px;
        left: 65%;
        text-align: left;
        border-radius: 5px;
    }
    .navbar .links.open::before{
        border: solid 1px var(--main-color);
    }

    .navbar .links.open li{
        color: var(--main-color);
        display: block;
        font-weight: bold;
        margin: 10px 0 10px -20px;
    }
    .navbar .links.open li:hover{
        border:none;
        font-weight: bolder;
    }
    .header-area .navbar .toggle-menu.menu-active::before{
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 10px;
        bottom: -16px;
        border-color: #fff transparent transparent transparent;
        left: 29%
    } */

/********************** End Landing Page  *********************************/
/**/
/**/
/**/
/**/
/********************** Start  About us section  *********************************/
.about{
    display: flex;
    /* align-items: center; */
    align-content: center;
}
/* .about div{border:solid red} */

.about .info{
    flex: 1;
    /* padding: 50px; */
}
/* .timeline h2,
.gallery h2,
.about .info h2,
.skills h2{ */
section h2{
    color: var(--main-color);
    text-align: center;
}
.about .info p{
    color:var(--text-color)
}
.about .img{
    flex: 1;
    text-align: center;
}
.about .img img{ 
    width:250px;
}
@media (min-width: 576px) { /* Small Devices => Landscape Phones */
    .about{
        display: block;
    }
  }
/********************** End About us section  *********************************/
/**/
/**/
/**/
/**/
/********************** Start  Skills section  *********************************/
.skills{
    background-color: rgb(155, 148, 148);
}

.skills .skill-box{
    background: #eee;
    padding: 20px;
    margin: 10px ;
    border: solid 1px;
    border-radius: 5px;
    display: flex;
}
.skills .skill-box .skill-name{
    flex: 1;
    font-weight: bold;
    text-align:left;
    /* background-color: #eef; */
}

.skills .skill-box .skill-progress{
    flex: 11;
    background-color: rgb(231, 223, 223);
    height: 30px;
    position: relative;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    border-radius: 5px;
    height: 30px;
    width:0px;
    transition: all 1s;
}
/********************** End Skills section  *********************************/
/**/
/**/
/**/
/**/
/********************** Start  Gallery section  *********************************/
.gallery{}
.gallery .container{}
.gallery .container h2{}

.gallery .container .img-box{
    text-align: center;
}
.gallery .container .img-box img{
    width: 250px;
    padding: 3px;
    background:#f6f6f6;
    border: solid 1px #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);

    z-index: 100;
}
.popup .img-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#fff;
    padding:10px;
    border: solid #ccc;
    z-index: 101;
}
.popup .img-box img{
    max-width: 100%;
    max-height: 100%;
}
.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px;
    border-radius: 50%;
    background-color: var(--main-color);
    padding: 5px;
    margin: -15px -15px;
}

/********************** End Gallery section  *********************************/
/**/
/**/
/**/
/**/
/********************** Start  Timeline section  *********************************/

.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;         
}
.timeline .container .timeline-content{
    /* display: flex;
    flex-direction: column; */
}
.timeline .container .timeline-content .year{
    text-align: center;
    background: var(--main-color);
    width: 50px;
    margin: 0 48%;        

    font-weight: bold;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.timeline .container .timeline-content .year-content{
    display: flex;
}
.timeline .container .timeline-content .year-content .sep{
    background-color: var(--main-color);
    width: 5px;
}
.timeline .container .timeline-content .left,
.timeline .container .timeline-content .right{
width: 80%;
padding: 0 50px;
background-color: #fff;
padding: 20px;
margin: 20px;
}
.timeline .container .timeline-content .right::after,
.timeline .container .timeline-content .left::before{
    position: absolute;
    content: ' ';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 519px;
    background-color: #fff;
    border: solid var(--main-color);
}
.timeline .container .timeline-content .left .content::before,
.timeline .container .timeline-content .right .content::before{
    content: ' '; 
    border: solid 10px;
    position: absolute;
}
.timeline .container .timeline-content .left .content::before{
    border-color: transparent transparent transparent var(--main-color);
    margin: -3% 0% 0 38%;
}
.timeline .container .timeline-content .right .content::before{
    border-color: transparent var(--main-color) transparent transparent;
    margin: -2% 0 0 -3%;
}
/* .timeline .container .timeline-content .left::before{
    border:solid red;
    left: -5px;
} */

/********************** End Timeline section  *********************************/
/**/
/**/
/**/
/**/
/********************** Start  Testimonial section *********************************/

.testimonials{
    min-height: 600px;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.testimonials::before, 
.testimonials::after{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top:0;
}
.testimonials::before{
    background-color: var(--main-color);
    left: 0;
}
.testimonials::after{
    background-color: #333;
    right: 0;
}
.testimonials .container{
    position: relative;
    z-index: 2;
}

.testimonials .container h2{
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    margin: 0 0 30px;
}


.testimonials .container .ts-box{
    background-color: #fff;
    width: calc(98%/3); 
    /* height: 200px; */
    float: left;
    padding:2%;
    
    outline: 1px solid var(--main-color);
    outline-offset: -10px;
}
.testimonials .container .ts-box p{
    font-style: italic;
}
.testimonials .container .ts-box:not(:last-of-type){
    /* background-color: red; */
    margin-right: 1%;
}

.testimonials .container .ts-box .person-info{
    padding: 20px;
}
.testimonials .container .ts-box .person-info img{
    border-radius: 50%;
    float: left;
    margin: 0 20px 0 0;
}
.testimonials .container .ts-box .person-info h4{
line-height: 0px;
}
    @media(max-width:991px){
    /* .testimonials .container .ts-box{
        width: 100%;
        margin-bottom: 1%;
    } */
    .testimonials .container .ts-box .person-info{}
    .testimonials .container .ts-box .person-info img{
        float: none;
    }
    /* @media(max-width:691px){ */
    @media(max-width:676px){
        .testimonials .container .ts-box:not(:nth-of-type(3)){
            width:49%;
            margin-bottom: 1%;
        }
        .testimonials .container .ts-box:nth-of-type(3){
            width:99%;
        }
    }

}
/********************** End Testimonial section *********************************/
/**/
/**/
/**/
/**/
/********************** Start Contact us section ***********************************/
.contact{
    background: url('../img/map.jpg');
    min-height: 667px;
    background-size: cover;
    position: relative;
}
.contact .overlay{
    background: rgb(238 238 255 / 35%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.container{
    z-index: 2;
}
.contact .container form{
    overflow: hidden;
    margin: auto;
    width: 60%;
    /* border:solid 1px; */
}
.contact .container form .left,
.contact .container form .right{
    min-width: 48%;
    margin: auto;
    /* border: solid 1px; */
}
.contact .container form .left{
    float: left;
}
.contact .container form .right{
    float: right;
}
.contact .container form input,
.contact .container form textarea{
    height: 40px;
    width: 100%;
}
.contact .container form textarea{
    height: 150px;
}
.contact .container form input:not([type='submit']):focus,
.contact .container form textarea:focus{
    outline: solid 1px var(--main-color);
}
.contact .container form input:not([type='submit']),
.contact .container form textarea{
    padding: 10px;
    margin: 10px auto;    
    display: block;    
    border: 1px solid #CCC;
}
.contact .container form input[type='submit']{
    background: var(--main-color);
}
/* not working */
.contact .container form input:focus::-ms-placeholder,
.contact .container form input:focus::-webkit-input-placeholder,
.contact .container form input:focus::-moz-input-placeholder{
    opacity: 0;
    transition: .5s;
}                   
@media (max-width:767px){

    .contact .container form .left,
    .contact .container form .right{
        float: none;
    }
    
}
/********************** End Contact us section ***********************************/

/* Start Grid System */
@media (min-width: 576px) { /* Small Devices => Landscape Phones */
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) { /* Medium Devices => Tablets */
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) { /* Desktops */
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) { /* Large Screens */
    .container {
      max-width: 1140px;
    }
  }
  /* End Grid System */