:root{
    --main-color: #5a66bf;
    --main-hover: #7381e9;
    --selected-color: #17e228;
    --buttons-color: #427542;
    --text-color: #6a756b;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* settings box */
.settings{
    position: fixed;
    top:0;
    left: -300px;

    width: 300px;
    height: 100vh;
    background: rgba(255,255,255,.4);
    z-index: 999;
    transition: .5s;
}
.settings .toggle-settings{
        position: absolute;
        background: #fff;
        right: -35px;
        top: 50px;
        cursor: pointer;
        padding: .5em .25em .25em 1em;
}

.settings .option-box{
    border:solid 1px;
    border-radius: 5px;
    margin: 1em;    
    text-align: center;
    background-color: #c7c7c7;

}
.settings .option-box h4{
    margin: 1em;
    font-weight: bold;
    border-bottom: solid 1px;
    color: var(--main-color);
}
.settings .option-box .buttons,
.settings .option-box .colors-list{
    margin: 1em ;
    list-style: none;
    border:solid 1px;
    padding:10px 10px 7px 6px
}
.settings .option-box .colors-list li{
    width: 40px;
    height: 40px;
    background-color:#333;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.3;
    transition: .5s;

}




.settings .option-box .option-button{
    width: 100px;
}
.settings .option-box .buttons span{
    /* border: solid 1px; */
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 10px;

    background: var(--buttons-color);
    /* width: 100px; */
    color: #fff;
    /* font-size: 12px; */
    opacity: .5;
}
.open{left: 0px;}
.close{left: -300px;}

.settings-content{}

.settings .option-box .colors-list li:hover, 
.settings .option-box .option-button:hover {
    opacity: 1;
}
.settings .option-box .buttons span.active{
    opacity: 1;
}
.settings .option-box .colors-list .active{
    opacity: 1;
    border:solid #b3acac;
}

/* settings box */
/* landing-page */

.landing-page{
    min-height: 100vh;
    background-image: url(../img/img02.jpg);
    background-size: cover;
    position: relative;
    transition: .5s;
}
.landing-page .overlay{
    position: absolute;
    background:rgb(0 0 0 / 58%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
    width: 1170px;
    padding: 15px;
    margin: auto;
    border: solid;
}
.header-area{
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
}
.header-area .logo{
    width: 300px;
    padding: 15px;
    /* border: solid; */
}
.header-area .links{
    /* border: solid; */
    list-style: none;
    text-align: right;
}
.header-area .links li{
    display: inline;
    margin: 10px;
    font-weight: bold;
}
.header-area .links li a{
    color: #fff;
}
.header-area .links li a:hover, 
.header-area .links li a.active{
    color: var(--main-color);
}
.intro-background{
    background:rgba(0,0,0,.4);
    padding:10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.intro-text{
    text-align: center;
    color: #fff;
    z-index: 0;
}
.intro-text h1{}
.intro-text h1 span{
    color:var(--main-color)
}
/* landing-page */
/* about-us */
.about{
    display: flex;
    /* align-items: center; */
    align-content: center;
}
.about div{border:solid red}
.about .info{
    flex: 1;
    /* padding: 50px; */
}
.about .info h2{
    color: var(--main-color);
}
.about .info p{
    color:var(--text-color)
}
.about .img{
    flex: 1;
    text-align: center;
}
.about .img img{ 
    width:250px;
}
/* about-us */