:root{
    --main-color: #5a66bf;
    --main-hover: #7381e9;

}
body{
    font-family: 'Roboto', sans-serif;
}
/* settings box */
.settings{
    position: fixed;
    top:0;
    left: -300px;

    width: 300px;
    height: 100vh;
    background: rgba(255,255,255,.4);
    z-index: 999;
    transition: .5s;
}
.settings .toggle-settings{
        position: absolute;
        background: #fff;
        right: -35px;
        top: 50px;
        cursor: pointer;
        padding: .5em .25em .25em 1em;
}
.open{left: 0px;}
.close{left: -300px;}

.settings-content{}


/* settings box */
/* landing-page */

.landing-page{
    min-height: 100vh;
    background-image: url(../img/img02.jpg);
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    position: absolute;
    background:rgb(0 0 0 / 58%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.header-area{
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
}
.header-area .logo{
    width: 300px;
    padding: 15px;
    /* border: solid; */
}
.header-area .links{
    /* border: solid; */
    list-style: none;
    text-align: right;
}
.header-area .links li{
    display: inline;
    margin: 10px;
    font-weight: bold;
}
.header-area .links li a{
    color: #fff;
}
.header-area .links li a:hover, 
.header-area .links li a.active{
    color: var(--main-hover);
}
.intro-background{
    background:rgba(0,0,0,.4);
    padding:10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.intro-text{
    text-align: center;
    color: #fff;
    z-index: 0;
}
.intro-text h1{}
.intro-text h1 span{
    color:var(--main-color)
}
/* landing-page */