:root{
    --main-color: #5a66bf;
    --main-hover: #7381e9;
    --selected-color: #17e228;
    --buttons-color: #427542;
    --text-color: #6a756b;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* settings box */
.settings{
    position: fixed;
    top:0;
    left: -300px;

    width: 300px;
    height: 100vh;
    background: rgba(70, 70, 70, 0.4);
    z-index: 10;
    transition: .5s;
}
.settings .toggle-settings{
        position: absolute;
        background: #fff;
        right: -35px;
        top: 50px;
        cursor: pointer;
        padding: .5em .25em .25em 1em;
}

.settings .settings-content h2{
    text-align: center;
    background: rgba(71, 66, 66..6);
    color: var(--main-color);
    padding: 10px;
    border: solid 1px;
}

.settings .option-box{
    border:solid 1px;
    border-radius: 5px;
    margin: 1em;    
    text-align: center;
    background-color: #c7c7c7;
}
.settings .option-box h4{
    margin: 1em;
    font-weight: bold;
    border-bottom: solid 1px;
    color: var(--main-color);
}
.settings .option-box .buttons,
.settings .option-box .colors-list{
    margin: 1em ;
    list-style: none;
    border:solid 1px;
    padding:10px 10px 7px 6px
}
.settings .option-box .colors-list li{
    width: 40px;
    height: 40px;
    /* background-color:#333; */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.3;
    transition: .5s;
}

.settings .option-box .btn-danger{
    background-color:#cd1818;
    color: #fff;
    font-weight: bold;
}
.settings .option-box .btn-full{
    width:100%
}
.settings .option-box .option-button{
    width: 100px;
}
.settings .option-box .buttons span{
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 10px;

    background: var(--main-color);
    /* width: 100px; */
    color: #fff;
    /* font-size: 12px; */
    opacity: .5;
}
.open{left: 0px;}
.close{left: -300px;}

.settings-content{}

.settings .option-box .colors-list li:hover, 
.settings .option-box .option-button:hover {
    opacity: 1;
}
.settings .option-box .buttons span.active{
    opacity: 1;
}
.settings .option-box .colors-list .active{
    opacity: 1;
    border:solid #b3acac;
}
.settings .option-box #reset-options{
    padding: 10px;
}
.settings .option-box #reset-options span{
    margin: 10px;
    padding: 10px;

}
/* settings box */
/*********************************************************************************/
/*nav bullets*/
.nav-bullets{
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 1000;

    border-left: solid var(--main-color);
    border-radius: 5px;
    padding: 8px;
}
.nav-bullets .bullet{
    display: flex;
    opacity: .25;
}
.nav-bullets .bullet.active,
.nav-bullets .bullet:hover{
    opacity: 1;
}
.nav-bullets .bullet .blt{
    border: solid 3px var(--main-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0 0 0 -20px;
}

.nav-bullets .bullet .tooltip{
    margin: 10px;
    padding: 5px 10px;
    background-color: var(--main-color);
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
}

/* 
.nav-bullets .bullet:hover,
.nav-bullets .bullet .tooltip:hover,
.nav-bullets .bullet  .blt:hover{
    opacity: 1;
} */
/**************************************************/
/*********************************************************/
.section .active{

}
/*********************************************************/
/* landing-page */

.landing-page{
    min-height: 100vh;
    background-image: url(../img/bg/img02.jpg);
    background-size: cover;
    position: relative;
    transition: .5s;
}
.landing-page .overlay{
    position: absolute;
    background:rgb(0 0 0 / 58%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
    width: 1170px;
    padding: 15px;
    margin: auto;
    /* border: solid; */
}
.header-area{
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
}
.header-area .logo{
    width: 200px;
    height: 180px;
    padding: 15px;
    background:url(../img/logo.png)
    /* border: solid; */
}
.header-area .navbar{
    flex: 1;
}
.header-area .links{
    /* border: solid; */
    list-style: none;
    text-align: right;
}

.header-area .links li{
    text-transform: capitalize;
    display: inline;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
.header-area .links li:hover{
    border-bottom: solid 1px;
}
.header-area .links li a{
    color: #fff;
}
.header-area .links li a:hover, 
.header-area .links li a.active{
    color: var(--main-color);
}
.intro-background{
    background:rgba(0,0,0,.4);
    padding:10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.intro-text{
    text-align: center;
    color: #fff;
    z-index: 0;
}
.intro-text h1 span{
    color:var(--main-color)
}
/* landing-page */
/* about-us */
.about{
    display: flex;
    /* align-items: center; */
    align-content: center;
}
/* .about div{border:solid red} */

.about .info{
    flex: 1;
    /* padding: 50px; */
}
/* .timeline h2,
.gallery h2,
.about .info h2,
.skills h2{ */
section h2{
    color: var(--main-color);
    text-align: center;
}
.about .info p{
    color:var(--text-color)
}
.about .img{
    flex: 1;
    text-align: center;
}
.about .img img{ 
    width:250px;
}
/* about-us */
/**************************************************************************************************/
/* skills section */
.skills{
    background-color: rgb(155, 148, 148);
}

.skills .skill-box{
    background: #eee;
    padding: 20px;
    margin: 10px ;
    border: solid 1px;
    border-radius: 5px;
    display: flex;
}
.skills .skill-box .skill-name{
    flex: 1;
    font-weight: bold;
    text-align:left;
    /* background-color: #eef; */
}

.skills .skill-box .skill-progress{
    flex: 11;
    background-color: rgb(231, 223, 223);
    height: 30px;
    position: relative;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    border-radius: 5px;
    height: 30px;
    width:0px;
    transition: all 1s;
}
/* skills section */
/*********************************************************************************/
/* gallery section  */
.gallery{}
.gallery .container{}
.gallery .container h2{}

.gallery .container .img-box{
    text-align: center;
}
.gallery .container .img-box img{
    width: 250px;
    padding: 3px;
    background:#f6f6f6;
    border: solid 1px #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);

    z-index: 100;
}
.popup .img-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#fff;
    padding:10px;
    border: solid #ccc;
    z-index: 101;
}
.popup .img-box img{
    max-width: 100%;
    max-height: 100%;
}
.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--main-color);
    padding: 5px;
    margin: -15px -15px;
}

/* gallery section  */
/*******************************************************************************************/

/* timeline section  */

.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;         
}
.timeline .container .timeline-content{
    /* display: flex;
    flex-direction: column; */
}
.timeline .container .timeline-content .year{
    text-align: center;
    background: var(--main-color);
    width: 50px;
    margin: 0 48%;        

    font-weight: bold;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.timeline .container .timeline-content .year-content{
    display: flex;
}
.timeline .container .timeline-content .year-content .sep, .sep{
    background-color: var(--main-color);
    width: 5px;
    margin: 10px;
}
.timeline .container .timeline-content .left,
.timeline .container .timeline-content .right{
width: 80%;
padding: 0 50px;
background-color: #fff;
padding: 20px;
margin: 20px;
}
.timeline .container .timeline-content .right::after,
.timeline .container .timeline-content .left::before{
    position: absolute;
    content: ' ';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 519px;
    background-color: #fff;
    border: solid var(--main-color);
}
.timeline .container .timeline-content .left .content::before,
.timeline .container .timeline-content .right .content::before{
    content: ' '; 
    border: solid 10px;
    position: absolute;
}
.timeline .container .timeline-content .left .content::before{
    border-color: transparent transparent transparent var(--main-color);
    margin: -3% 0% 0 38%;
}
.timeline .container .timeline-content .right .content::before{
    border-color: transparent var(--main-color) transparent transparent;
    margin: -2% 0 0 -3%;
}
/* .timeline .container .timeline-content .left::before{
    border:solid red;
    left: -5px;
} */

/* timeline section  */
/*******************************************************/
/*start contact us section*/
.contact{
    background: url('../img/map.jpg');
    min-height: 667px;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.contact .overlay{
    background: rgb(238 238 255 / 35%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.contact .container{
    z-index: 2;
}

.contact .container form{
    display: flex;
    margin: auto;
    min-width: 40%;    
    
    justify-content: center;
    border: solid;
}
.contact .container .right,
.contact .container .left{
    flex: 1;
    min-width: 48%;
}
.contact .container .left{}
.contact .container .right{}

.contact .container form input{
    height: 40px;
    margin: 10px auto;
}
.contact .container form textarea{
    height: 140px;
}
.contact .container form input[type='submit']{
    background-color: var(--main-color);
    color:#fff;
    font-weight: bold;
}
.contact .container form input,
.contact .container form textarea{
    margin: 10px auto;
    width: 95%;    
    display: block;
}
.contact .container form input:not([type='submit']):focus,
.contact .container form textarea:focus{
    outline: solid 1px var(--main-color);
}
/* ????????????????? */
.contact .container form input:focus::-ms-placeholder,
.contact .container form input:focus::-webkit-input-placeholder,
.contact .container form input:focus::-moz-input-placeholder{
    opacity: 0;
    transition: .5s;
}

/*end contact us section*/